<div class="container">
  <input type="text" class="form-control mb-3" placeholder="Search..." [(ngModel)]="searchText" (input)="filterLists()">
  
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th style="width: 22.22%;">Room</th>
        <th style="width: 22.22%;">Equipment</th>
        <th style="width: 22.22%;">Status</th> 
        <th style="width: 100 px;">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="filteredRoomList.length > 0; else noResultsTemplate">
        <tr *ngFor="let room of filteredRoomList">
          <td>{{ room.name }}</td>
          <td>{{ room.equipment || '' }}</td>
          <td>{{ room.status }}</td> 
          <td>
            <button class="btn btn-primary mr-2" (click)="openReservationDialog(room)">Add to Reservation</button>
            <button *ngIf="room.status === 'Occupied'" class="btn btn-secondary" (click)="checkCalendar(room)">Check Calendar</button>
          </td>
        </tr>
      </ng-container>
      
    </tbody>
  </table>
</div>

<ng-template #noResultsTemplate>
  <p>No results found.</p>
</ng-template>
<div class="reservation-dialog" *ngIf="isReservationDialogOpen">
  <h2>Reservation Details</h2>
  <p>Room: {{ selectedRoom?.name }}</p>
  <p>Equipment: {{ selectedRoom?.equipment  }}</p>
  <label for="startDate">Start Date:</label>
  <input type="date" id="startDate" [(ngModel)]="startDate">
  <label for="endDate">End Date:</label>
  <input type="date" id="endDate" [(ngModel)]="endDate">
  <button class="close-btn" (click)="closeReservationDialog()">Cancel</button>
  <button (click)="confirmReservation()">Confirm Reservation</button>
</div>

  