<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Room</th>
        <th>Equipments</th>
        <th>Date</th>
        <th>Date Début</th>
        <th>Date Fin</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.id }}</td>
        <td>{{ reservation.room }}</td>
        <td>
          <ul>
            <li *ngFor="let equipment of reservation.equipements">{{ equipment }}</li>
          </ul>
        </td>
        <td>{{ reservation.date | date }}</td>
        <td>{{ reservation.date_debut | date }}</td>
        <td>{{ reservation.date_fin | date }}</td>
        <td>{{ reservation.status ? 'Confirmed' : 'Not Confirmed' }}</td>
      </tr>
    </tbody>
  </table>
  